/* The article fills all the space between header & footer */

.bg-indigo{
    background-color: #00B0FF;
}

body{
    min-height: 100vh;
    margin:0;
    display:flex;
    flex-direction:column;
    }

footer{
	color: #fff;
	background-color: #343a40;
}

.current {
	color: #f57c00;
	font-weight: bold;
    text-shadow:
    -1px -1px 0 #fff,
     0   -1px 0 #fff,
     1px -1px 0 #fff,
     1px  0   0 #fff,
     1px  1px 0 #fff,
     0    1px 0 #fff,
    -1px  1px 0 #fff,
    -1px  0   0 #fff;
    -webkit-font-smoothing: antialiased
}

nav {
    font-family: Verdana;
    font-weight: bold;
}

.ccm {
    padding-left: 3rem;
}

.bgc {
    background-color: #E8EAF6;
}

.navbar-profile-image{
	width: 30px;
	height: 30px;
}

.dm {
    margin-right: 1rem;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-red-dark {
    background: linear-gradient(to right, #373b44, #f44242) !important;
    color: #fff;
}


.fs {
    font-size: 0.9rem;
}