{% extends "base.html" %}

{% block title %}
Error 404: Page Not Found
{% endblock title %}

{% block content %}

<div class="col-xl-4 mt-5">
    <div class="card l-bg-red-dark">
        <div class="card-statistic-3 p-4">
            <div class="mb-4">
                <h5 class="card-title mb-0">Error 404:</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
                <h3 class="d-flex align-items-center mb-0">
                    Η σελίδα αυτή δεν βρέθηκε
                </h3>
            </div>
        </div>
    </div>
</div>

{% endblock content %}