{% extends "base.html" %}

{% block title %}
Λογαριασμός Χρήστη
{% endblock title %}

{% block content %}


<div class="container login-container mt-5">
    <div class="row d-flex justify-content-center">
    <div class="col-md-6 login-form-1">

        <a href="/userslist/" class="btn btn-success mb-3">Πίσω</a>
        <h3>Ενημέρωση χρήστη</h3><hr>

        <img class="rounded-circle navbar-profile-image" src="{{ url_for('static', filename='images/profiles_images/' + current_user.profile_image) }}" alt="{{ current_user.username }}" data-holder-rendered="true" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ current_user.username }}">

        <form action="#" method="POST" enctype="multipart/form-data">

            {{ form.hidden_tag() }}

            <div class="mb-3 pt-3">
                Όνομα χρήστη: <b>{{ user.username }}</b> <br>
                επίπεδο πρόσβασης: <b>{{ user.user_status }}</b>
            </div>

            <div class="mb-3">
                {{ form.user_access.label(class="form-label") }}
                {{ form.user_access(class="form-radio") }}
                <div id="user_accessHelp" class="form-text">
                    Παρακαλώ διαλέξτε το επίπεδο πρόσβασης
                </div>
                {% if form.user_access.errors %}
                <ul class="errors">
                    {% for error in form.user_access.errors %}
                   <li class="alert text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="mb-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>

        </form>
    </div>
    </div>
</div>



{% endblock content %}